<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="./home.css">
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="container mt-4">
            <% if(locals.blogs){ %>
                <div class="row">
                    <% blogs.forEach(blog=> { %>
                        <div class="col-md-4 mb-4">
                            <div class="card" style="height: 50vh;">
                                <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="..." height="45%"
                                    width="33%">
                                <div class="card-body" style="height: 55%;">
                                    <h6 class="card-title" style="height: 20%;">
                                        <%= blog.title %>
                                    </h6>
                                    <p class="card-text" style="height:50%; overflow:hidden; font-size: small;">
                                        <%= blog.body %>
                                    </p>
                                    <a href="/blog/<%= blog._id %>" class="btn btn-primary" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% } %>
        </div>
        <%- include('./partials/scripts') %>
</body>

</html>